/* フォントに関する設定 */
@font-face {
    font-family: cica-regular;
    src: url("https://ei1711.github.io/fonts/Cica-Regular.ttf") format("truetype");
}

@font-face {
    font-family: mplus-1p-black;
    src: url("https://ei1711.github.io/fonts/mplus-1p-black.ttf") format("truetype");
}

@font-face {
    font-family: mplus-1p-bold;
    src: url("https://ei1711.github.io/fonts/mplus-1p-bold.ttf") format("truetype");
}

@font-face {
    font-family: mplus-1p-heavy;
    src: url("https://ei1711.github.io/fonts/mplus-1p-heavy.ttf") format("truetype");
}

@font-face {
    font-family: mplus-1p-light;
    src: url("https://ei1711.github.io/fonts/mplus-1p-light.ttf") format("truetype");
}

@font-face {
    font-family: mplus-1p-light;
    src: url("https://ei1711.github.io/fonts/mplus-1p-light.ttf") format("truetype");
}

@font-face {
    font-family: mplus-1p-medium;
    src: url("https://ei1711.github.io/fonts/mplus-1p-medium.ttf") format("truetype");
}

@font-face {
    font-family: mplus-1p-regular;
    src: url("https://ei1711.github.io/fonts/mplus-1p-regular.ttf") format("truetype");
}

@font-face {
    font-family: mplus-1p-thin;
    src: url("https://ei1711.github.io/fonts/mplus-1p-thin.ttf") format("truetype");
}

/* 見た目 */
body {
    color: white;
    background-color: #1C1C1C;
    font-family: 'mplus-1p-regular';
}

.color {
    background-color: #1C1C1C;
}
