/* フォントに関する設定 */
@font-face {
    font-family: cica-bold;
    src: url("../fonts/Cica-Bold.ttf") format("truetype");
}

@font-face {
    font-family: cica-regular;
    src: url("../fonts/Cica-Regular.ttf") format("truetype");
}

/* 見た目 */
body {
    font-family: 'cica-regular';
}
